/*for desktop*/
* {
  box-sizing: border-box;
}

.row::after {
  clear: both;
  content: "";
  display: table;
}

.clearfix{
   content: " "; 
   display: block;
   clear: both;
}

[class*="col-"] {
  float: left;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

body {
  font-family: monospace;
}

/*starting of header*/
.container {
  background: url("../images/background-image.jpg") no-repeat 10%;
  background-size: 100% 100%;
  position: relative;
  padding-bottom: 48px;
}

.container:before {
  background: rgba(60, 8, 108,.7);
  content: " ";
  height: 100%;
  position: absolute;
  width: 100%;
}

.middle-container {
  margin: 0 auto;
  width: 80%;
}

.inner-container {
  opacity: 0.9;
}

.logo {
  border-radius: 50%;
  width: 50px;
}

.logo-left {
  margin-top: 42px;
  width : 22%;
}

nav {
 float: right;
 margin-top: 30px;
}

nav ul {
  list-style-type: none;
  padding : 0;
}

nav ul li {
  display: inline-block;
  padding-bottom: 5px 6px;
}

nav ul a {
  color: white;
  left: -10px;
  padding: 0 7px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

nav ul li a:hover:not(.join) {
  border-bottom: 1px solid #27C7C5;
  padding-bottom: 7px;
}

.join-list {
  background: #A100FF url("../images/arrfrwd.png") no-repeat 92%;
  border-radius: 3px;
  padding: 10px 16px;
  text-decoration: none;
}
 
.join-list:hover {
  background-color: #BF3EFF;
}
/*ending of header*/
h1 {
  font-size: 38px;
  text-transform: uppercase;
}

.form-container {
  margin-top: 30px;
  padding: 100px 0;
}

.form-container p {
  width: 56%;
}

.lower-header {
  color: white;
  text-align: left;
}

input {
  border: none;
  border-radius: 2px;
  font-size: 13px;
  margin-right: 10px;
  padding: 13px;
}

.input1 {
  background: white url("../images/input1.png") no-repeat 96%;
}

.input2 {
  background: white url("../images/input2.png") no-repeat 96%;
}

button {
  background: #27C7C5 url("../images/arrfrwd.png") no-repeat 3px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 34px;
  outline: none;
  padding: 12px 18px;
}

button:hover {
  background-color: #67E6EC;
}

.contact-us {
  background-color: #8600D3;
  border-radius: 3px;
  bottom: -6px;
  color: white;
  font-weight: bolder;
  padding: 7px 21px;
  position: absolute;
  right: -42px;
  text-decoration: none;
  transform: rotate(-90deg);
  z-index: 1;
}

.contact-us:hover {
  background: #9B30FF;
}
/*ending of container*/
/* slide*/
.slide-button1{
  background-image: url("../images/background-image2.jpg");
}

.slide-button1:before {
   background-image: url("../images/arrodowngrey.png");
   background-repeat: no-repeat;
   content: " ";
   height: 44px;
   position: absolute;
   width: 41px;
   left: 22px;
   top: 22px;
   z-index: 1;
}

/*.arrodowngrey {
  height: 29px;
  left: 34%;
  position: absolute;
  top: 26%;
  width: 26px;
}*/

.slide-button {
  border-radius: 50%;
  bottom: -44px;
  height: 88px;
  left: 50%;
  margin-left: -44px;
  position: absolute;
  width: 88px;
}

.slide-button2 {
  background: #27C7C5 url(../images/arrdnwhite.png) no-repeat 33px;
  background-size: 21px 25px;
}

.slide-button3 {
  background: #fff url(../images/arrodowngrey.png) no-repeat 33px;
  background-size: 22px 29px;
  border-bottom:1px solid #E9EDEF; 
  z-index: 1;
}

/*burger*/
.bar1,.bar2,.bar3 {display :none;}
/*burger*/

/*starting of latest-design*/
.latest-design {
  background: url("../images/background-image2.jpg") repeat;
  position: relative;
}

.phone {
  height: 40%;
  margin-top: 27px;
  margin-bottom: -3px;
  width: 37%;
}

.phone-section {
  padding-top: 9%;
  text-align: center;
}

.latest-design h2 {
  color: #363D45;
  font-size: 30px;
  text-transform: uppercase;
}

.phone-section p {
  color: #8A8E90;
}
/*ending of latest-design*/
/*starting of feature-app*/
.feature-app h2 {
  color: #51585E;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
}

.feature-app > p {
  color: #8A8E90;
  text-align: center;
}

.features {
  background-color: #8600D3;
  border-radius: 50%;
  height: 110px;
  margin: 20px auto;
  text-align: center;
  width: 110px;
}

.feature-icon {
  height: 38px;
  margin-top: 33px;
  width: 38px;
}

h3 {
  color: #313B44;
  margin: 10px 10px;
  text-align: center;
  text-transform: uppercase;
}

.feature-container {
  padding: 0 7px;
}

.feature-container p {
  color: #A5A6A8;
  font-size: small;
  font-weight: bold;
  text-align: center;
}

.feature-app {
  padding-bottom: 5%;
  padding-top: 80px;
  position: relative;
}
/*ending of feature-app*/
/*starting of our-design*/
.our-design-wrapper {
  background: #F5F9FA;
  border-top:1px solid #E9EDEF; 
  padding-bottom: 7%;
  padding-top: 9%;
  position: relative;
}

.our-design {
  text-align: center;
}

.our-design h2 {
  color: #51585E;
  font-size: 22px;
  text-transform: uppercase;
}

.our-design > p {
  color: #969A9D;
 }

.our-design ul {
  border: 1px solid #28C8C6;
  display: inline-block;
  line-height: 50px;
  list-style-type: none;
  padding-left: 0;
}

.our-design ul li {
  display: block;
  float: left;
}

.our-design ul li a {
  color: #28C8C6;
  display: block;
  font-weight: bolder;
  padding: 0 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.our-design ul li {
  cursor: pointer;
}

.active {
  background: #27C7C5;
  color: #fff !important;
}

.tab {
  margin-top: 30px;
}

.tab-content img {
  height: 180px;
  width: 100%;
}

.tab-content {
  display: none;
}

.default {
  display: block;
}

#design-active:active {
  background: #28C8C6;
}

.tab-img-container {
  display: inline-block;
  margin-right:10px;
  width: 252px;
}

.tab a{
  background: #fff url("../images/tab-icon.png") no-repeat 92% ;
  color :#000;
  display: block;
  font-size: 10px;
  margin-top: -4px;
  padding: 14px;
  text-decoration: none;
  text-transform: uppercase;
}
/*ending of our-design*/
/*starting of footer*/
footer {
  padding-top: 37px;
  padding-bottom: 15px;
}

.footer-list {
  padding-top: 46px;
}

footer ul {
  float: left;
  list-style-type: none;
  padding: 0;
}

footer ul li {
  font-weight: bolder;
  padding-bottom: 20px;
}

footer ul li a {
  color: #B2C0C3;
  text-decoration: none;
}

footer ul li a:hover {
  color: #68B7F2;
}

footer ul + p {
  color: #B2C0C3;
  clear: both;
  font-weight: bolder;
}

.copyright {
 padding-top: 46px;
}

.copyright p a {
  text-decoration: none;
}

.copyright p a:hover {
  opacity: 0.7;
}

.copyright p {
  color: #B2C0C3;
  font-weight: bolder;
  text-align: right;
}

.twitter,
.share {
  border-radius: 3px;
  color: white;
  padding: 8px 22px;
  text-decoration: none;
}

.twitter {
  background: #6AB6F2 url("../images/tweet.png") no-repeat 6px;
}

.share {
  background: #3A5799 url("../images/fb.png") no-repeat 6px;
}

.twitter:hover {
  padding: 10px 24px;
}

.share:hover {
  padding: 10px 24px;
}

.slide-button4 {
  background-color: #919191;
  border-radius: 3px;
  color: white;
  left: 30px;
  padding: 12px;
  position: absolute;
  text-decoration: none;
  margin-top: 30px;
}

.slide-button4:hover {
  background-color: #A5A6A8;
}

.social-media {
  text-align: right;
}
/*ending of footer*/
/*For mobile phones*/
@media only screen and (max-width: 480px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  /* for burger menu*/
  .burger {
    display: none;
  }
  
  .burger-icon {
    float: right
  }
  
  nav ul li {
    display: block;
    margin-bottom: 5px;
    padding: 21px;
  }
  
  nav {
    margin-top: 30px;
    position: absolute;
    top: 74px;
    width: 80%;
  }
  
  nav ul {
    background-color: #fff;
    border-radius: 4px;
    text-align: center;
  }
  
  nav ul li a {
    color: #27C7C5;
  }
  
  .join-list {
    padding: 11px 0;
  }
 
  .join {
    background-position: 1px;
    color: #fff;
    padding: 12px 35px;
  }
  
  .bar1,
  .bar2,
  .bar3 {
    background-color: #fff;
    color: #fff;
    display: block;
    height: 5px;
    margin: 6px 0;
    text-align: right;
    transition: 0.4s;
    width: 35px;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {
    opacity: 0;
  }
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  /* for burger menu*/
  /*for header*/
  h1 {
    font-size: 2em;
  }
  
  .form-container input {
    margin: 5px 0;
    width: 97%;
  }
  
  button {
    width: 50%;
    margin: 0 24%;
    background-position: 48%;
  }
  
 /* .slide-btn,
  .slide-btn2,
  .slide-btn3,
  .slide-btn4 {
    display: none;
  }*/
  
  .contact-us {
    padding: 2px 15px;
   }
  
  .form-container p {
    width: 100%;
  }
  
  .form-container {
    margin-top: 0;
    padding: 0;
  }
  
  .container {
    padding-bottom: 14px;
  }
  /*for latest-design*/
  .latest-design h2 {
    font-size: 20px;
  }
  /*for feature-app*/
  .feature-app h2 {
    font-size: 20px;
   }
  
  .feature-app {
    padding-top: 14px;
  }
  /*for our-design*/
  .tab-img-container {
    width: 100%;
  }
  
  .our-design ul {
    border: none;
    display: inline-block;
  }
  
  .our-design ul li {
    display: inline;
    float: none;
  }
  
  .our-design ul li a {
    border: 1px solid #28C8C6;
    border-radius: 5px;
  }
  /*footer*/
  footer {
    padding-top: 34px;
  }
  
  footer ul {
    float: none;
    margin-bottom: -15px;
    padding: 0;
    text-align: center;
  }
  
  footer ul + p {
    margin: 20px 0 40px 0;
    text-align: center;
  }
  
  .social-media {
    margin-top: 7%;
    text-align: center;
  }
  
  .copyright {
    padding: 0;
  }
  
  .copyright p {
    text-align: center;
  }
  
  br {
    display: none;
  }
}
/* For  tablet */
@media only screen and (min-width: 481px) and (max-width:960px){
    /* For  tablet */
  /*.slide-btn,.slide-btn2,.slide-btn3,.slide-btn4 {
    display: none;
  }*/
  
  h1 {
    font-size: 35px;
  }
  
  nav ul a {
    padding: 0 1px;
  }
  
  nav ul {
    padding: 0;
  }
  
  .lower-header {
    margin-top: 23px;
  }
  
  .form-container {
    margin-top: 0;
    padding: 0;
  }
  
  .form-container input {
    margin: 5px 0;
  }
  
  .container {
    padding-bottom: 18px;
  }
  
  .feature-app {
    padding-top: 30px;
  }
  
  .tab a {
    background-position: 98%;
  }
  
  .features {
    width :89px;
    height :89px;
  }
  
  .feature-icon {
    height: 32px;
    margin-top: 30px;
    width: 32px;
  }
  
}
  
  